<section class="hero is-info is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title mogra larger-text">
                loja pequenos arteiros
            </h1>
            <br>
            <div class="columns">
                <div class="column is-half is-offset-one-quarter">

                    <p class="control">
                        <input type="text" class="input is-large" placeholder="Nome">
                    </p>
                    <br />
                    <p class="control">
                        <input type="text" class="input is-large" placeholder="Sobrenome">
                    </p>
                    <br />
                    <p class="control">
                        <input type="email" class="input is-large" placeholder="Email">
                    </p>
                    <br />
                    <p class="control">
                        <input type="text" class="input is-large" placeholder="CPF">
                    </p>
                    <br />
                    <p class="control">
                        <input type="text" class="input is-large" placeholder="Usuário">
                    </p>
                    <br />
                    <p class="control">
                        <input type="password" class="input is-large" placeholder="Senha">
                    </p>
                    <br />
                    <p class="control">
                        <input type="password" class="input is-large" placeholder="Confirmar Senha">
                    </p>
                    <br />
                    <p>
                        <button (click)="submit()" class="button is-info is-inverted is-outlined is-large is-fullwidth">Cadastrar
                            </button>
                        <br>
                        <a routerLink="/" class="button is-info is-inverted is-outlined">Voltar para a tela de login</a>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>